<iframe
  src="https://www.youtube.com/embed/sGsabVSiPXY?autoplay=1&mute=1&loop=1&controls=0"
  frameborder="0"
  class="w-full h-full absolute"
></iframe>

<div class="h-screen bg-white">
  <div
    class="pt-[15%] px-24 absolute h-full text-white bg-gradient-to-r from-black"
  >
    <h1 class="text-5xl font-bold">RED NOTICE</h1>
    <p class="inline-block py-2 text-l w-1/3 flex-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <div>
      <button
        class="bg-white text-black py-2 px-8 fs-6 hover:bg-opacity-70 transition-[1s] rounded-1"
      >
        Play<i class="bi bi-play-fill"></i>
      </button>
      <button
        class="bg-gray-500 mx-2 text-white px-8 py-2 fs-6 bg-opacity-50 rounded-1"
      >
        More Info
      </button>
    </div>
  </div>
</div>
